#Project {
  background-color: #000000;
}
#about {
  background-color: #ffffff;
}

section {
  padding-top: 6rem;
}

#contact {
  background-color: #ffffff;
}

#jumbotron {
  padding: 2rem;
}

#coursel-item {
  margin-bottom: 30px;
  text-align: left;
  text-size-adjust: 20px;
}
